*{
  font-family: Acumin !important;
}
@font-face {
  font-family: Acumin;
  src: url("../public/Acumin-RPro.otf");
}
a{
  text-decoration: none !important;
  color: #000 !important;
}
button{
  background-color: transparent !important;
  color: #000 !important;
}
.add{
  background-color: #fff !important;
  padding: 25px 50px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}
.colors{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #171717 !important;
}
.beige{
  background-color: rgb(253, 191, 130) !important;
}
.ru{
  color: rgb(155, 155, 155) !important;
}